<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Pietro Cascio</title>
  <meta name="description" content="{{ description }}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
  <script src="css/styles.css"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
        rel="stylesheet">
  <script>
    tailwind.config = {theme: {extend: {fontFamily: {sans: ['Inter', 'sans-serif'],}}}}
  </script>
</head>
<body class="bg-white text-gray-900 antialiased font-sans">

<div class="max-w-3xl mx-auto px-6 py-12 md:py-20">

  <nav
      class="flex flex-col md:flex-row justify-between items-start md:items-center mb-16 space-y-4 md:space-y-0">
    <div class="font-bold tracking-tight text-lg">
      <a href="/" class="hover:text-gray-600 transition-colors">PIETRO CASCIO</a>
    </div>

    <div class="flex space-x-6 text-sm font-medium text-gray-500">
      <a href="https://www.linkedin.com/in/pietrocascio/" target="_blank"
         class="hover:text-black transition-colors">
        <img src="/images/linkedin/LI-In-Bug.png" alt="LinkedIn Icon" class="w-8 inline">
        LinkedIn
      </a>
      <a href="https://app.pluralsight.com/profile/author/pietro-cascio" target="_blank"
         class="hover:text-[#F90093] transition-colors">
        <img src="/images/pluralsight/PS-mark-color-fill.png" alt="Pluralsight Icon"
             class="w-8 inline">
        Pluralsight
      </a>
<!--      <a href="/it" class="hover:text-black transition-colors">🇮🇹 Academy</a>-->
    </div>
  </nav>

  <main>
    {{ content | safe }}
  </main>

  <footer class="pt-10 border-t border-gray-100 text-center text-xs text-gray-400 mt-24">
    &copy; 2026 Pietro Cascio. No tracking. No cookies. Just HTML.
  </footer>

</div>
</body>
</html>